@page "/products"
<h3>Products</h3>

@inject NavigationManager NavigationManager
@inject IViewProductsUseCase ViewProductsUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

@if (products != null)
{
    <table class="table">
        <thread>
            <tr>
                <th>Product Category</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@GetCategoryByIdUseCase.Execute(@product.CategoryId.Value)?.Name</td>
                    <td>@product.Name</td>
                    <td>@Math.Round(product.Price.Value , 2)</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickProduct" class="btn btn-primary">Add Category</button>

@code {

    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = ViewProductsUseCase.Execute();
    }

    private void OnClickProduct()
	{
        NavigationManager.NavigateTo("/addProduct");
	}
}
